<footer>
	<div id="footer-left">
		<a href="mailto:seongmin@gatech.edu"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="https://twitter.com/SeongminLeee"><i class="fa-lg fab fa-twitter footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/ligi214"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<a href="https://www.linkedin.com/in/seongmin-lee-8b8a97209/"><i class="fa-lg fab fa-linkedin-in footer-icon" aria-hidden="true"></i></a>
		<a href="https://scholar.google.com/citations?user=EA4jKm4AAAAJ&hl=ko&authuser=1"><i class="fa-lg fa fa-graduation-cap footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Seongmin Lee
	</div>
	<div id="footer-right">
		Seongmin Lee is a PhD student at Georgia Tech developing visual explanations and scalable algorithms for responsible AI.
	</div>
</footer>
